#### Student Infomation Management System

####### Grade 1 Students = 25
        Grade 2 Students = 30
        Grade 3 Students = 28

In [9]:
#### total number of students = 25+30+28

In [10]:
25+30+28

83

In [11]:
### average number of students per grade = 85/25, 85/30, 85/28

In [12]:
85/25

3.4

In [13]:
85/30

2.8333333333333335

In [14]:
85/28

3.0357142857142856

#### Variable Assignment

In [22]:
Grade_1 = "Welcome to Grade 1! We are excited to have you."
Grade_2 = "Hello Grade 2 students! Get ready to learn and have fun."
Grade_3 = "Welcome Grade 3 students. Let's make this a great year of learning."

In [23]:
print(Grade_2)

Hello Grade 2 students! Get ready to learn and have fun.

#### Lists and Dictionaries

In [24]:
import pandas as pd
import numpy as np

In [37]:
Grade_list= ['Grade 1', 'Grade 2', 'Grade 3']

Grade_1 =['Math', 'English', 'Science' ]
Grade_2 =['English', 'Science', 'History']
Grade_3 =['Science', 'History', 'Math']

d = {
    'grade 1': ['Mr. Smith', 'Ms. Johnson', 'Mr. Davis'],
    'grade 2': ['Ms. Williams', 'Mr.Davis', 'Ms. Brown' ],
    'grade 3': ['Ms. Davis', 'Mr. Johnson', 'Mr. Smith']  
}

In [26]:
print(Grade_3)

['Science', 'History', 'Math']

In [56]:
d.get('grade 2')

['Ms. Williams', 'Mr.Davis', 'Ms. Brown']